/excel_clean.gox
/excel_clean.toml
/excel_replace_multiple.exe
/excel_replace_multiple_(replace_type).toml
/excel_replace_multiple_LAST.toml
/excel_replace_multiple_Tom.toml
/PLWTP Asset Evaluation (021021).xlsm
/PLWTP Asset Evaluation (021021)_Thaman.xlsm
/sandbox.xlsm
/sandbox.xlsx
/shell_sandbox.xlsm
/TEMP
/update_uuid.exe
/
.vs/ProjectSettings.json
.vs/excel_regex_clean/v15/.suo

.vs/VSWorkspaceState.json
.vs/slnx.sqlite
